body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.chat-container {
    width: 817px;
    height: 664px;
    border: 1px solid #ccc;
    overflow: hidden;
}

.chat-history {
    height: 600px;
    padding: 10px;
    overflow-y: scroll;
    background-color: #f7f7f7;
}

.message {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 8px;
    background-color: #fff;
}

.message .actions {
    display: flex;
    justify-content: flex-end;
}

.message button {
    margin-left: 5px;
    background-color: #e53935;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.input-container {
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: #f7f7f7;
}

.input-container input[type="text"] {
    width: 609px;
    height: 17px;
    border: 1px solid #ccc;
    padding: 5px;
    margin-right: 10px;
}

.input-container button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}